* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: white;
}


.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgb(222, 102, 182);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    color: black;
    font-size: 32px;
    text-decoration: none;
    font-weight: 700;
    transition: .3s;
    
}


.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.home-content{
    max-width: 600px  ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home-content h1 {
    font-size: 80px;
    font-weight: 700;
    text-shadow: 0 0  10px rgba(0,0,0,.3);
    margin-bottom: 20px;
}

.home-content button{

    width: 190px;
    height: 55px;
    background: #c40094;
    border: 2px solid #fff;
    outline:none;
    border-radius: 6px;
    box-shadow: 0 0 10px #c40094;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: .3s;
}
.home-content button:hover{
    background-color: #09001d;
    box-shadow: none;

}

.start-quiz{
    /* display: inline-block; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) scale(.9);
    width: 500px;
    /* height: 500px; */
    background: #eccee2;
    border-radius: 6px;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
    margin-top: 40px;

}
.quiz-sec{

 color: #09001d;
}
.option-list{
    border-top: 1px solid #999;
    margin-top: 10px;
}
.option-list .option{
    width: 100%;
    padding: 12px;
    border: 2px solid #999;
    border-radius: 4px;
    cursor: pointer;
    margin: 15px 0;

}

.option-list .option.currect{
    background: #eccee2;
    color: rgb(32, 162, 218);
    border-color: rgb(32, 162, 218) ;

}

.option-list .option.incurrect{
    background: #eccee2;
    color: rgb(32, 162, 218);
    border-color: rgb(32, 162, 218);
}

.option-list .option.disable{
    pointer-events: none;
}



.start-quiz.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50% , -50%) scale(1);


}

.start-quiz h2{
    font-size: 30px;
    color: #c40094;
}
.start-quiz .quiz-section{
    display: inline-block;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin: 4px 0 ;
    display: block;

}
.start-quiz .btn-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #999;
    margin-top: 10px;
    padding: 15px 0 7px;

}

.start-quiz .btn-group .info-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background: #c40094;
    border: 2px solid #c40094;
    outline: auto;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
}

.start-quiz .btn-group .info-btn:hover{
    background-color: #09001d;
    box-shadow: none;

}

.result-box{
    width: 300px;
    margin: 10px;
    padding: 12px;
    border: 5px solid #999;
    border-radius: 4px;
    color: #09001d;
    font-size: 19px;

}
.nav-header{
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom: 10px;
    color: #09001d;
    font-size: 19px;
    
}
